<div class="contentMetaMediaViewer">
    <div class="metaMediaViewer modal-preview animate-modal-preview {{metaMediaViewer.options.customClass}} {{metaMediaViewer.options.theme}} {{metaMediaViewer.modalMode ? 'modal-mode' : ''}} {{metaMediaViewer.totalMedias>1 ? 'with-pagination' : ''}}" style="height:{{metaMediaViewer.contentHeight}}">
        <div class="box-numNav" ng-if="metaMediaViewer.totalMedias>1">
            <uib-pagination total-items="metaMediaViewer.totalMedias" ng-model="metaMediaViewer.currentMedia" class="pagination-sm" boundary-links="true" first-text="Inizio" rotate="true" force-ellipses="true" last-text="Fine" items-per-page="1" max-size="10" direction-links="false" ></uib-pagination>
        </div>
        <div class="header">
            <div class="box-btnHeader box-btnHeader-left">
                <a class="btn-grid btnHeader" ng-class="{'active':metaMediaViewer.panelActive}" ng-click="metaMediaViewer.panelActive=metaMediaViewer.toggleEle(metaMediaViewer.panelActive)">
                    <span class="fa fa-th-large"></span>
                </a>
                <a class="btn-download btnHeader" 
                    ng-href="{{metaMediaViewer.media.url}}" 
                    target="_blank"
                    ng-if="metaMediaViewer.media.download!==false">
                    <span class="fa fa-download"></span>
                </a>
                <a class="btn-zoom btnHeader" ng-if="!metaMediaViewer.loadingImg && metaMediaViewer.media.type==='IMAGE'" ng-click="metaMediaViewer.zoomOut()">
                    <span class="fa fa-search-minus"></span>
                </a>
                <a class="btn-zoom btnHeader" ng-if="!metaMediaViewer.loadingImg && metaMediaViewer.media.type==='IMAGE'" ng-click="metaMediaViewer.zoomIn()">
                    <span class="fa fa-search-plus"></span>
                </a>
            </div>
            <div class="btn-spinner" ng-if="metaMediaViewer.loadingImg && metaMediaViewer.media.type==='IMAGE'">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
            <div class="title" ng-class="{'margin-large':metaMediaViewer.media.type==='IMAGE'}">{{metaMediaViewer.media.title}}</div>
            <div class="btn-close" ng-if="metaMediaViewer.options.btnClose" ng-click="metaMediaViewer.close()">
                <span class="fa fa-times"></span>
            </div>
        </div>
        <div class="panel-left" ng-class="{'with-pagination':metaMediaViewer.totalMedias>1}">
            <div class="box-mediaThumb" ng-class="{'active':metaMediaViewer.currentMedia===$index+1}" ng-repeat="media in metaMediaViewer.medias" ng-click="metaMediaViewer.setMedia($index+1)">
                <div class="img-middle-responsive">
                    <div class="responsive-container" >
                        <div class="dummy"></div>
                        <div class="img-container">
                            <div class="centerer"></div>
                            <img ng-src="{{media.thumbnail}}"/>
                        </div>
                    </div>
                </div>
                <div class="box-mediaTitle" tooltips tooltip-template="{{media.title}}">
                    {{media.title}}
                </div>
            </div>
        </div>
        <div class="body" ng-class="{'panel-active':metaMediaViewer.panelActive, 'with-pagination':metaMediaViewer.totalMedias>1}">
            <div class="box-btnNav box-btnNav-left" ng-if="metaMediaViewer.prev" ng-click="metaMediaViewer.setMedia(false,-1)">
                <div class="btnNav btnNav-left">
                    <i class="fa fa-arrow-left"></i>
                </div>
            </div>
            <div class="box-btnNav box-btnNav-right" ng-if="metaMediaViewer.next" ng-click="metaMediaViewer.setMedia(false,1)">
                <div class="btnNav btnNav-right">
                    <i class="fa fa-arrow-right"></i>
                </div>
            </div>
            <div class="box-none" ng-if="metaMediaViewer.media && !metaMediaViewer.checkSupportedMedia(metaMediaViewer.media.type)">
                <h3>Tipo di media non supportato</h3>
            </div>
            <div class="box-img" ng-if="metaMediaViewer.media.type==='IMAGE'" >
                <img ng-src="{{metaMediaViewer.media.url}}" ng-init="metaMediaViewer.setInitZoom()"/>
            </div>
            <div class="box-pdf" ng-if="metaMediaViewer.media.type==='PDF'">
                <!--<iframe width="100%" height="100%" ng-src="{{metaMediaViewer.media.PdfUrl}}" frameborder="0"></iframe>-->
                <pdfjs-viewer src="{{ metaMediaViewer.media.PdfUrl }}" download="{{metaMediaViewer.media.download}}" print="{{metaMediaViewer.media.print}}" open="{{metaMediaViewer.media.open}}">
                </pdfjs-viewer>
            </div>
            <div class="box-multimedia" ng-if="metaMediaViewer.media.type==='VIDEO' || metaMediaViewer.media.type==='AUDIO'">
                <videogular vg-update-time="metaMediaViewer.videogular.onUpdateTime($currentTime, $duration)" vg-theme="metaMediaViewer.videogular.config.theme" vg-auto-play="metaMediaViewer.videogular.config.autoPlay"
                vg-update-state="metaMediaViewer.onUpdateState($state)">
                    <vg-media vg-src="metaMediaViewer.videogular.config.sources">
                    </vg-media>

                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ metaMediaViewer.videogular.currentTime | date:'mm:ss' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ metaMediaViewer.videogular.totalTime | date:'mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>

                    <vg-overlay-play></vg-overlay-play>
                    <vg-poster vg-url='metaMediaViewer.media.thumbnail'></vg-poster>
                </videogular>
            </div>
            <div class="box-html" ng-if="metaMediaViewer.media.type==='HTML'" >
                <iframe ng-src="{{metaMediaViewer.safeUrl(metaMediaViewer.media.url)}}" frameborder="0"><iframe>
            </div>
        </div>
    </div>
</div>